:root {
    --mexican-pink: #e42d8cff;
    --pistachio: #9fc36aff;
    --picton-blue: #00a9deff;
    --midnight-blue: #101f75ff;
    --silver: #c4c5c7ff;
    --dim-gray: #707176ff;
    --white: #ffffffff;
    --amaranth-red : #D3212CFF;
    --yellow-orange: #FF980EFF;
    --shamrock-green: #069C56FF;
    --tufts-blue: #3a8aceff;
}

* {
    box-sizing: border-box;
    --main-color: var(--amaranth-red);
}

@keyframes highlight-wrapper-success {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(125, 247, 131, 0.3);
    }
    100% { 
        background-color: transparent;
    }
}

@keyframes highlight-wrapper-info {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(95, 150, 246, 0.3);
    }
    100% { 
        background-color: transparent;
    }
}

@keyframes highlight-wrapper-warning {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(247, 206, 57, 0.3);
    }
    100% { 
        background-color: transparent;
    }
}

@keyframes highlight-wrapper-failure {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(255, 149, 149, 0.3);
    }
    100% { 
        background-color: transparent;
    }
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0px;
    background-image: linear-gradient(to bottom right, black, black, #555);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    border-bottom: rgb(201, 0, 100) 4px solid;
    -ms-user-select: none;
    user-select: none;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header img {
    width: 20%;
    pointer-events: none;
}

.header a:hover, .header a.active:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color:var(--main-color);
    color: white;
}

.header a.in-menu {
    background-color: #909092;
    color: black;
}

.header-right {
    margin-left: auto;
    margin-right: 20px;
}

.header-right a {
    margin-left: 10px;
}

.menu {
    position: fixed;
    margin-top: 220px;
    padding-bottom: 35px;
    width: 230px;
    background-color: #333;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 15px;
    color:aliceblue;
    text-decoration: none;
    -ms-user-select: none;
    user-select: none;
}

.menu a.active {
    background-color:slategray;
}

.menu a:hover {
    background-color: #555;
}

hr {
    border: 1px solid red;
}

h1.main-title {
    font-size: 2rem;
    margin: 2rem 0;
    background-image: linear-gradient(120deg, var(--main-color) 0%, var(--mexican-pink) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;

    &:hover {
        background-size: 100% 88%;
    }
}

.content {
    padding-top: 130px;
    padding-left: 270px;
    padding-right: 20px;
    display: flex;
    min-height: 87vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.text {
    display:flex;
    align-items: center;
}

.img-text-1 {
    border:#4b4b4b 3px solid;
    border-radius: 30px;
    max-width: 50%;
    flex: 1;
    margin: 20px;
}

.img-text-2 {
    border:#000 3px solid;
    max-width: 300px;
    max-height: 350px;
    flex: 1;
    margin: 20px;
}

.img-text-3 {
    max-width: 150px;
    max-height: 150px;
    flex: 1;
    margin: 20px;
}

.img-text-4 {
    border:#000 3px solid;
    border-radius: 300px;
    max-width: 40%;
    flex: 1;
    margin: 20px;
}

.text-text {
    width:50%;
    flex: 1;
    margin: 10px;
}

form i {
    color:#555;
}

.footer {
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    background-color: #24262b;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

footer h2 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

footer h2::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}

.legal-informations {
    margin-left: 10%;
}

.legal-informations p {
    line-height: 5px;
}

.legal-informations img {
    margin-left: 60px;
    width: 70px;
}

.contact {
    margin-right: 4%;
}

.contact a {
    text-decoration: underline;
    color: white;
}

.networks .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.networks .social-links a:hover {
	color: #24262b;
	background-color: var(--main-color);
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.input-group input {
    margin-top: 0.5rem;
    padding: 0.5em 1em;
    background-color: #ECECEC;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid var(--main-color);
    border-radius: 5px 5px 0 0;
}

.input-group textarea {
    margin-top: 0.5rem;
    padding: 0.5em 1em;
    background-color: #ECECEC;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid var(--main-color);
    resize: none;
    border-radius: 5px 5px 0 0;
}

.input-group select {
    margin-top: 0.5rem;
    padding: 0.5em 1em;
    background-color: #ECECEC;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid var(--main-color);
    resize: none;
    border-radius: 5px 5px 0 0;
}

.input-group input:hover, .input-group textarea:hover, .input-group select:hover {
    background-color: #e7e6e6;
    transition: background-color 0.6s ease;
}

.password-toggle-icon {
    position: absolute;
    right: 12px;
    top: 57%;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-content: center;    
}

.red-button {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
    line-height: 2rem;
    min-height: 3.5rem;
    color: var(--white);
    background-color: var(--main-color);
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
}

.form-container {
    width: 70%;
}

.gender-option {
    margin-left: 30px;
}

#goUpButton {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    right: 70px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#goUpButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#goUpButton:hover {
    cursor: pointer;
    background-color: #333;
}

#goUpButton:active {
    background-color: #555;
}

#goUpButton.show {
    opacity: 1;
    visibility: visible;
}

.tab {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: center;
    width: 100%;
}
  
.tab th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000; 
}
  
.tab td {
    max-width: 100px;
    max-height: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}
  
.tab img,button {
    transition: all 300ms;
}
  
.tab img {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    border:2px solid #909092;
}
  
.tab tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}
  
.tab tbody:hover img {
    filter:blur(3px);
}
  
.tab tbody:hover button {
    filter:blur(3px);
}
  
.tab tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
  
.tab tbody:hover tr:hover img {
    filter:blur(0);
}
  
.tab tbody:hover tr:hover button {
    filter:blur(0);
}
  
.invisible {
    display:none;
}
  
.commande {
    display: inline flex;
}
  
.commande button {
    height:25px;
    width:25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
}

.tab-panier {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: center;
    width: 100%;
}
  
.tab-panier th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000; 
}
  
.tab-panier td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
}

.info-message {
    width: 70%;
}

.wrapper-success .card {
    height: 80px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #49d761;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: highlight-wrapper-success 1s ease;
}

.wrapper-success .card .icon {
    font-size: 28px;
    color: #49d761;
}

.wrapper-info .card {
    height: 80px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #3286e9;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: highlight-wrapper-info 1s ease;
}

.wrapper-info .card .icon {
    font-size: 28px;
    color: #3286e9;
}

.wrapper-warning .card {
    height: 80px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #ffa600;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: highlight-wrapper-warning 1s ease;
}

.wrapper-warning .card .icon {
    font-size: 28px;
    color: #fdb204;
}

.wrapper-failure .card {
    height: 80px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #f50707;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: highlight-wrapper-failure 1s ease;
}

.wrapper-failure .card .icon {
    font-size: 28px;
    color: #fd2020;
}

.card .icon-times {
    font-size: 22px;
    color: #c3c2c7;
    cursor: pointer;
}

.card .subject p {
    color: #909092;
    margin-top: 7px;
}

.card .subject {
    margin-right: 18vw;
}

.card .subject h3 {
    margin-bottom: 0;
}

a.link {
    color: var(--midnight-blue);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 1em;
}

a.link:hover {
    background-color: rgba(112, 113, 118, 0.2);
}

.required-field {
    justify-content: flex-end;
}

.required-field p {
    margin: 0;
}

.required-field-star {
    color: rgb(228, 5, 5);
    font-weight: bold;
    padding-right: 5px;
    font-size: 20px;
}

.required::after {
    content: "*";
    color: rgb(228, 5, 5);
    font-weight: bold;
    padding-left: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}

.error-message.with-content {
    margin-top: 5px;
}
